In [ ]:
print("Welcome all")
print("Getting started with Python")
#print(type(name123))
#type(name123)

In [ ]:
print("Getting started with Python")

Basic Python Exercise

In [ ]:
print(" 111 Getting started with Python")
print( "This may not work")

In [ ]:
i = 30
print(i)
print(type(i))

In [ ]:
i = 3.0
print(i)
print(type(i))

In [ ]:
i = 3.0
print(i)
type(i)

In [ ]:
b = True
print(b,type(b))

In [ ]:
cmp = 45.0 + 80j
print(cmp,type(cmp))

In [5]:
n = "Anand"
print(n,type(n))

Anand <class 'str'>

In [6]:
#int()
#float()
#str()
#x = int(n)
y = float(n)
#print(x,type(x))
print(y,type(y))

ValueError: could not convert string to float: 'Anand'

In [ ]:
name123 = '3.0'

print(name123)   #To print any variable
type(name123)

Arithmatic Operators

In [11]:
x=124 
#y=45 #   ctrl /
y=5
z = x + y # Addition
print(x % y)

4

In [13]:
zz = 4 ** 8 #exponent 4 * 4 * 4
print(zz)

65536

In [7]:

# zz = y ** 3
# print(zz)
#   ctrl /
# print(x,y,z)
# print(x/y)
# z5 = x % y # Modulus
#print(z5,type(z)) #print statement
# z2 = x -y  #Subtraction
# z3 = x * y # Multiply
# z4 = x / y # Division
# z5 = x % y # Modulus
# z6 = 7 % 2
# zz = 4 ** 3 #exponent 4 * 4 * 4

# #print('z2 = ', z2)
# #print('X * Y = ', z3)
# print('result of x/y =  ', z4)
# print("x % y", z5)
# print(z6)
# print(zz)

NameError: name 'z5' is not defined

In [16]:
N = "Anand"
A = 3
#rint(nAme, Name)
#fullName = N + A
#print(fullName)
#print(N - A)
print(N * 4)

AnandAnandAnandAnand

In [ ]:
print(var1)

In [ ]:
var1 = 34
x = '3.5'
y = str(5.7)
z = x + y
print(z)

p = float(x)
print(x,p)
print(type(x), type(p))
# print(type(var1))

IDE - Eclipse
Python - PyCharm

#Assignment Operators
=    += -=

In [17]:
x = 40
x

40

In [18]:
print(type(x))
print(x)

<class 'int'>
40

In [ ]:
#      +=

In [20]:
x = 5
x += 4  # x = x + 4   -=   *=   /=   
print(x)

9

In [ ]:
x -= 5  # x = x -5
print(x)

#Comparision Operators 

==
!=
>
>=
<
<=

In [21]:
x = 60
y = 68

In [22]:
print(x == y)  #   x = y

False

In [23]:
print(x != y)  #   Not equal to

True

In [24]:
print( x >= y)

False

In [25]:
print( x < y)

True

In [26]:
a = "Anand"
b = "ANAND"

In [28]:
print(a == b)
print(a != b)
print( a == "Anand")

False
True
True

In [29]:
x ="12"
y = "113"
print( x < y)

False

In [33]:
a1 = input()
print(a1, type(a1))
print(type(a1) == 'int')
print(int(a1))

78
78 <class 'str'>
False
78

In [ ]:
a1 = input()
b1 = input()
print(a1,b1)
#print(int(a1),int(b1))
#print(int(a1) > int(b1))

In [ ]:
#if statement

In [37]:
p = 9
q = 40
print(p,q)
p > q

9 40

False

In [44]:
print(p, q, p > q) #
if (p > q):
     print("st1")
elif (p< q):
      print( "Inside elif block")
else:
    print("Inside else block")

9 40 False
Inside elif block

In [36]:
print(p, q, p > q)
if (p > q):
    print("st1")
# elif (p< q):
#      print( "Now  p < q")
# else :
#       print(" p = q")
    
print("st2")
print("st3")

9 40 False
Now  p < q
st2
st3

In [ ]:
p = 20
q = 40
if( p > q ):
    print( "p is greater than q")
    print("-----")
elif (p< q):
     print( " p < q")
else :
 print(" p = q")

In [ ]:
#functions

In [46]:
def greeting():
    print("Good Afternoon  " )
    print("Line 2,3,4")
    return

In [47]:
greeting()

Good Afternoon
Line 2,3,4

In [48]:
def greeting(nm):
    print("Good Afternoon  " + str(nm))
    print("Line 2,3,4")
    return

In [51]:
name = "A10"
greeting(name)

Good Afternoon  A10
Line 2,3,4

In [ ]:
x,y
max_xny

In [ ]:

def maxfind(x,y):
    mx = x
    if (x > y):
        mx = x
        #print(x)
    else:
        mx = y
        #print(y)
    
    return mx

In [ ]:

x2=40
y2=40
res = maxfind(x2,y2)
print(res)

In [ ]:
def greet(name):
    print("Hello ")
    print(name)

In [ ]:
myname="Anand"
greet(myname)

In [ ]:
x , y 
def maxno(x,y):
    
    return max_no

In [ ]:
def greater(x,y):
    if (x > y) :
        maxval = x
    else :
        maxval = y
    return maxval
    
    
    
    

greater(2,4)

In [ ]:
#Logical Operators
#  and or not

#
and operation
T  and  T   - T
F  and  T      F
T  and  F      F
F  and  F      F

In [52]:
x = 60
y = 125

In [53]:
(x > 50)

True

In [54]:
(y < 200)

True

In [56]:
(x < 50)  and (y < 200)

False

and operation
T  and  T   - T
F  and  T      F
T  and  F      F
F  and  F      F

In [ ]:
or operation
T  or  T   - T
F  or  T      T
T  or  F      T
F  or  F      F

In [ ]:
(x > 50)  or (y < 200)

In [ ]:
not operation
not T    - F
not F        T

In [57]:
not (x > 50)

False

In [ ]:
y = 28
not (y < 200)

In [ ]:
#Identity Operator
is       is not

In [58]:
x = ["asia","africa"]
y = ["asia","africa"]
print(x,y)
print(type(x), type(y))

['asia', 'africa'] ['asia', 'africa']
<class 'list'> <class 'list'>

In [59]:
z = y #x
print(z)
print(type(z))

['asia', 'africa']
<class 'list'>

In [61]:
print(y is z)
print(y == z)

True
True

In [62]:
print(x is y)

False

In [ ]:
print(x == y)

In [ ]:
#Multiline comment

# Line 1
# Line 2 
# Line 3
# Line 4
# -------
# print(x == y)


# print(x == y)

In [ ]:
def maxany(x,y):
    if (x > y):
        print(x)
    else :
        print(y)

In [ ]:
x = input()
y = input()
res = maxany(x,y)

In [ ]:
print("Please type in your age")
age = input()
print("Hello Your Age is : ", age)
print(int(age))

In [ ]:
print("please type in your age")
agestr = input()
age = int(agestr)
print("hello your age is :", age)

In [ ]:
#If-elif-else statements

In [ ]:
if age < 4: 
    ticket_price = 0 
elif age < 18: 
    ticket_price = 10 
else: ticket_price = 15

In [ ]:
print(age, ticket_price)

In [ ]:
#While Loops
#A while loop repeats a block of code as long as a certain condition is true.

In [63]:
x = 5
while (x <= 20):
    #print("inside while loop")
    print(x)
    x = x + 3

print("outside while loop")

5
8
11
14
17
20
outside while loop

In [ ]:
 #A simple while loop 
current_value = 1
while ( current_value <= 4 ): 
    print(current_value) 
    current_value += 1  # x = 2

In [ ]:
#Letting the user choose when to quit 
msg = '' 
while msg != 'quit':
    msg = input("What's your message? ") 
    print(msg)