In [ ]:
#Strings

In [8]:
#Strings
a = "WELCome"
b = "to"
c = "PYthon"
comma = " , "
print(b)

to

In [9]:
z = a + comma + b + comma + c
print(z)

WELCome , to , PYthon

In [10]:
print(z is z)

True

In [11]:
#indexing,  
print(a,a[6])
print(len(a),len(z))

WELCome e
7 21

In [12]:
p='8'
print(len(p))

1

In [13]:
print(a)
for ele in a:    # ele = a[1]
    print(ele)

WELCome
W
E
L
C
o
m
e

In [15]:
print(a)
for i in a:
    print(type(i))
    print(i, i*6)   #

WELCome
<class 'str'>
W WWWWWW
<class 'str'>
E EEEEEE
<class 'str'>
L LLLLLL
<class 'str'>
C CCCCCC
<class 'str'>
o oooooo
<class 'str'>
m mmmmmm
<class 'str'>
e eeeeee

In [16]:
print(a.lower())   
#print(a.lower() == a)
print(a)

welcome
WELCome

In [17]:
print(a.upper())
print(a)

WELCOME
WELCome

In [18]:
#slicing
z = a + comma + b + comma + c
print(z)

print(z, len(z))

WELCome , to , PYthon
WELCome , to , PYthon 21

In [20]:
print(z[2])
print(z[4:21])  #sliced

L
ome , to , PYthon

In [22]:
print(z[2:])
print(z[2:-1])

LCome , to , PYthon
LCome , to , PYtho

In [23]:
print(z[-5])

Y

In [29]:
#slicing
z = a + comma + b + comma + c
print(z)

print(z, len(z))
print(z[2])
print(z[2:6])  #sliced
print(z[2:])
print(z[-2])
print(z[2:-1])

WELCome , to , PYthon
WELCome , to , PYthon 21
L
LCom
LCome , to , PYthon
o
LCome , to , PYtho

In [27]:
print(z)
print(z.split("o"))

WELCome , to , PYthon
['WELC', 'me , t', ' , PYth', 'n']

In [ ]:
#list

In [31]:
#List 
lst = ['India',67,'Japan', 'Africa']
print(lst)
print(type(lst))

['India', 67, 'Japan', 'Africa']
<class 'list'>

In [32]:
marks = [75.90, '33.89', 89, 95, 99, 76, 75, 88,43,96,75, 99]
print(marks)
print(type(marks))

[75.9, '33.89', 89, 95, 99, 76, 75, 88, 43, 96, 75, 99]
<class 'list'>

In [33]:
print(len(marks))

12

In [34]:
marks = [50, 38, 60, 78, 90, 98, 78]
sum = 0
for mark in marks:
    sum = sum + mark

print(sum)

492

In [35]:
#mutable
marks = [75, 33, 89, 95, 99, 76, 75, 88,43,96,75, 99]
print(marks[5])
marks[5] = 'ABC'
print(marks)
print(type(marks))

76
[75, 33, 89, 95, 99, 'ABC', 75, 88, 43, 96, 75, 99]
<class 'list'>

In [36]:
print(marks)
print(marks[0:5])

[75, 33, 89, 95, 99, 'ABC', 75, 88, 43, 96, 75, 99]
[75, 33, 89, 95, 99]

In [44]:
print(marks[3:-1])

[95, 99, 'ABC', 75, 88, 43, 96, 75]

In [37]:
print(marks)
print(marks[1:8:3])

[75, 33, 89, 95, 99, 'ABC', 75, 88, 43, 96, 75, 99]
[33, 99, 88]

In [41]:
print(marks[0:5])
print(marks[3:-1])
print(marks[1:8:3])

[75, 33, 89, 95, 99]
[95, 99, 'ABC', 75, 88, 43, 96, 75]
[33, 99, 88]

In [40]:
# tuples
tp = (100,'30',[50.89,'88ABC', 99,87],545,67)
print(tp,type(tp))

(100, '30', [50.89, '88ABC', 99, 87], 545, 67) <class 'tuple'>

In [41]:
print(len(tp))

5

In [42]:
print(tp[2],type(tp[2]))

[50.89, '88ABC', 99, 87] <class 'list'>

In [45]:
#tuples are immutable
print(tp)
#tp[3] = 55
print(tp[3])

(100, '30', [50.89, '88ABC', 99, 87], 545, 67)
545

In [46]:
# tuples
tp = (100,'30',[50.89,'88ABC', 99],87,545,67)
#tp = tp + (1,2,3)
print(tp[3])
#tp[3] = 200 # tuples are immutable
print(tp)
print(len(tp))
print(type(tp))

87
(100, '30', [50.89, '88ABC', 99], 87, 545, 67)
6
<class 'tuple'>

In [75]:
print(tp,len(tp))
print(tp[1:8:2])

(100, '30', [50.89, '88ABC', 99], 87, 545, 67) 6
('30', 87, 67)

In [47]:
#Set
st = {12,4,5,'a9','A9',90.9,6,5,4,12,12,12,8,8, 67, 78, 66} #Unique elements

In [49]:
print(st,type(st))

{'a9', 67, 4, 5, 6, 66, 8, 'A9', 12, 78, 90.9} <class 'set'>

In [79]:
#print(st[0])  #TypeError: 'set' object does not support indexing

TypeError: 'set' object does not support indexing

In [50]:
#Set
st = {12,4,5,'a9','A9',90.9,6,5,4,12,12,12,8,8, 67, 78, 66}
#print(st[0])
#st[0] = 69
print(st)
print(type(st))

{'a9', 67, 4, 5, 6, 66, 8, 'A9', 12, 78, 90.9}
<class 'set'>

In [55]:
#dictionary  { key : val}
dt = {"India" : "New Delhi", 'china' : "Shanghai", "Japan" : "Tokyo" , 'China' : 'XYZ' }
print(dt)
print(type(dt))

{'India': 'New Delhi', 'china': 'Shanghai', 'Japan': 'Tokyo', 'China': 'XYZ'}
<class 'dict'>

In [56]:
print(dt["china"],dt['China'])

Shanghai XYZ

In [ ]:
list   [ , , ] Mutable
tuple   ( , , ) immutable
set    { , , }  immutable, indexing not supported
dict   { k:v, k:v} Mutable

In [57]:
print(dt)
dt['china'] = 'XYZ'
print(dt)
print(type(dt))

{'India': 'New Delhi', 'china': 'Shanghai', 'Japan': 'Tokyo', 'China': 'XYZ'}
{'India': 'New Delhi', 'china': 'XYZ', 'Japan': 'Tokyo', 'China': 'XYZ'}
<class 'dict'>

In [59]:
# empty set
s2 = {}
print(s2)
print(type(s2))

{}
<class 'dict'>

In [60]:
s2 = set()
print(s2)
print(type(s2))

set()
<class 'set'>

In [61]:
s2.add(5)

s2.add(6)
s2.add(5)
s2.add(10)
s2.add('pqr')
print(s2)

{'pqr', 10, 5, 6}

In [95]:
m1 = {10, 4, 5, 1, 3}
m2 = {8, 5, 3, 9, 2}
print(m1,m2)

{1, 3, 4, 5, 10} {2, 3, 5, 8, 9}

In [62]:
m1 = {10, 4, 5, 1, 3}
m2 = {8, 5, 3, 9, 2}
print(m1,m2)

{1, 3, 4, 5, 10} {2, 3, 5, 8, 9}

In [63]:
print(m1 - m2)  # Set A - B
print(m2 - m1)  # Set A - B
print(m1 & m2)  # Intersection of sets
print(m1 | m2)  # Union of sets
print(m1 ^ m2)  # complement of set intersection

{1, 10, 4}
{8, 9, 2}
{3, 5}
{1, 2, 3, 4, 5, 8, 9, 10}
{1, 2, 4, 8, 9, 10}

In [ ]:
#File Operations

In [97]:
path = './marks.csv'

In [98]:
fp = open(path, mode='r')
print(type(fp))

<class '_io.TextIOWrapper'>

In [99]:
for line in fp:
    print(line) # nothing since reached to EOF because of the upper for loop

Mehul,m,10,99

Anand,m,9,78

Jane,f,11,56

John,m,7,67

In [100]:
wpath = './test.csv'

In [101]:
fw = open(wpath, mode='w')

In [102]:
lst = [
    ('anand', 94, 93, 97),
    ('Jane',67, 89, 90),
    ('John',99,100, 100)
]

In [103]:
details = ''
for line in lst:
    details += line[0] + '|' + str(line[1]) + '|' + str(line[2]) + '|' + str(line[3]) +'\n'

print(details)
fw.write(details)
fw.close()

anand|94|93|97
Jane|67|89|90
John|99|100|100

In [ ]:
Lambda
Python supports the creation of anonymous functions at runtime, using a construct called lambda
This approach is most commonly used when passing a simple function as an argument to another function.
Lambdas are generally used in conjunction with typical functional concepts like filter(), map() and reduce().

In [64]:
def add(a,b):
    res = a+b
    return res

In [65]:
add(2,3)

5

In [107]:
# this is the same as our add() function
add_lambda = lambda a, b: a + b

add_lambda(2,3)

5

In [67]:
# example: these two are equivalent
import math
def square_root(x):
    return math.sqrt(x) if x > 0 else None

square_root_lambda = lambda x: math.sqrt(x) if x > 0 else None

square_root_lambda(-10)

In [ ]:
#map
# map(function, sequence) 
# calls function(item) for each of the sequence’s items and returns a list of the returned values.

In [68]:
numbers = list(range(10))
print(numbers, type(numbers))
def square(num):
    return num * num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

In [71]:
print(map(square, numbers))
res = list(map(square, numbers))
print(res,type(res))

<map object at 0x0000025202D213C8>
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81] <class 'list'>

In [72]:
# same thing using lambda

print(list(map(lambda x: x * x, numbers)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
print(list(map(lambda x,y: x * y, numbers)))

In [ ]:
# filter(function, sequence) returns a sequence consisting of those
# items from the sequence for which function(item) is true.

In [74]:
numbers = list(range(10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
is_even_lambda = lambda x: x % 2 == 0

In [77]:
print(numbers)

print(list(filter(is_even_lambda, numbers)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [78]:
def is_even(x):
    return x % 2 == 0

In [80]:
print(list(filter(is_even, numbers)))

[0, 2, 4, 6, 8]

In [8]:
numbers = list(range(10))

def is_even(x):
    return x % 2 == 0

is_even_lambda = lambda x: x % 2 == 0

print(numbers)
print(filter(is_even, numbers))
print(filter(is_even_lambda, numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<filter object at 0x000001E224F3C160>
<filter object at 0x000001E224F3C518>

In [9]:
res_list = list(filter(is_even, numbers))
print(res_list)

[0, 2, 4, 6, 8]

In [13]:
#help()